<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Index</title>
</head>
<body>
<h1>Endpoints:</h1>
<div style="margin-left: 20px">
    <h2>University:</h2>
    <div style="margin-left: 40px">
        <h4>POST: api/university/create - create new university</h4>
        <h4>GET: api/university/create - get create university page</h4>
        <h4>GET: api/university - get all universities</h4>
        <h4>GET: api/university/{id} - get university by id</h4>
        <h4>GET: api/university/delete/{id} - delete university by id</h4>
        <h4>GET: api/university/edit/{id} - get edit university page</h4>
        <h4>POST: api/university/edit/{id} - edit university by id</h4>
    </div>
</div>
<div style="margin-left: 20px">
    <h2>Student:</h2>
    <div style="margin-left: 40px">
        <h4>POST: api/create-student - create new student</h4>
        <h4>GET: api/create-student - get create student page</h4>
        <h4>GET: api/student - get all students</h4>
        <h4>GET: api/student/{id} - get student by id</h4>
        <h4>DELETE: api/student/{id} - delete student by id</h4>
        <h4>PATCH: api/student/{id} - edit student by id</h4>
    </div>
</div>
</body>
</html>