<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>university</title>
</head>
<body>
<table>
    <h1>University</h1>
    <form method="POST">

        <table>
            <tbody>
            <tr>
                <th><label for="id_full_name">Full name:</label></th>
                <td>
                    <input type="text" name="full_name" maxlength="50" required="" id="id_full_name"
                           value="{{ university.full_name }}">
                </td>
            </tr>
            <tr>
                <th><label for="id_short_name">Short_name:</label></th>
                <td>
                    <input type="text" name="short_name" maxlength="10" required="" id="id_short_name"
                           value="{{ university.short_name }}">
                </td>
            </tr>
            <tr>
                <th><label for="id_date_of_creation">Date of creation:</label></th>
                <td>
                    <input type="date" name="date_of_creation" required="" id="id_date_of_creation"
                           value="{{ university.date_of_creation.strftime('%Y-%m-%d')}}">
                </td>
            </tr>
            </tbody>
        </table>
        <input type="submit" value="confirm">
    </form>
</table>
</body>
</html>